<launch>

  <!-- URDF and TF support -->
  <!-- <param name="robot_description" command="$(find xacro)/xacro.py $(find uv_project)/robots/fetch.urdf" /> -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find uv_project)/robots/fetch.urdf" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" >
    <param name="publish_frequency" value="100.0"/>
  </node>

</launch>
